@using System.Web.Optimization
@model HastaneRandevu.Areas.Hasta.ViewModels.MainPage

@{
    ViewBag.Title = "Randevu Page";
}

<div class="row">
    <div class="col-lg-8">

        <div class="panel panel-default">
            <div class="panel-heading">Randevu Detaylari</div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()

                    <div class="form-group">

                        @Html.LabelFor(x => x.Iller, "Il")
                        @Html.DropDownListFor(m => m.il,
    new SelectList(Model.Iller, "Id", "IlAdi"), "--Seçin--", new { @class = "form-control", @id = "ddlIl" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Ilceler, "Ilce")
                        @Html.DropDownListFor(m => m.Ilce,
             new List<SelectListItem>(), "--Seçin--", new { @class = "form-control", @id = "ddlIlce" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Klinikler, "Klinik")
                        @Html.DropDownListFor(m => m.klinik,
             new List<SelectListItem>(), "--Seçin--", new { @class = "form-control", @id = "ddlKlinik" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Hastaneler, "Hastane")
                        @Html.DropDownListFor(m => m.hastane,
             new List<SelectListItem>(), "--Seçin--", new { @class = "form-control", @id = "ddlHastane" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Doktordetay, "Doktor")
                        @Html.DropDownListFor(m => m.doktor,
             new List<SelectListItem>(), "--Seçin--", new { @class = "form-control", @id = "ddlDoktor" })
                    </div>
                    <div class="form-group date" data-date-format="mm/dd/yyyy">
                        @Html.LabelFor(x => x.RandevuTarihi, "Randevu Tarihi")
                        @Html.EditorFor(x => x.RandevuTarihi, new { @class = "form-control" })
                    </div>

                    <input type="submit" value="Randevu Ara" class="btn btn-primary" />

                    <a href="@Url.Action("index")">ya da Vazgeç</a>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Saatleri</div>
            <div class="panel-body">
                @for (int i = 9; i < 18; i++)
                {
                    <div class="btn-toolbar" style="height:50px">
                        <div class="btn-group">
                            <a href="#" class="btn btn-link btn-group-sm">@i:00</a>
                        </div>

                        <div class="btn-group" style="height:50px">
                            <a href="#" class="btn btn-link btn-group-sm disabled">@i:15</a>
                        </div>

                        <div class="btn-group" style="height:50px">
                            <a href="#" class="btn btn-link btn-group-sm">@i:30</a>
                        </div>

                        <div class="btn-group" style="height:50px">
                            <a href="#" class="btn btn-link btn-group-sm">@i:45</a>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>

        </div>





 @section RandevuDDL
 {
<script type="text/javascript">
    function cascadeDropDownList(url, source, target, ddlName) {
        $.ajax({
            type: 'POST',
            url: url,
            data: { Id: $('#' + source).val()},
            dataType: 'json',
            traditional: true,
            success: function (data) {
                alert("DDl balbal");
                // remove previous option contents first
                $('#' + target + ' option').each(function () {
                    $(this).remove();
                });

                // add new option contents
                var options = '<option value="">--' + ddlName + '--</option>';
                for (var i = 0; i < data.length; i++) {
                    options += '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                $('#' + target).html(options);
            }
        });
    }
</script>              
            
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlIl').change(function () {
            alert("DDl il changed");
            var url = '@Url.Action("GetDLL", "Home")';
            var source = $(this).attr('id');
            var target = $('#ddlIlce').attr('id');
            cascadeDropDownList(url, source, target, 'ddlIlce');
        });
    });
</script>
}
