@using System.Web.Optimization
@model HastaneRandevu.Areas.Hasta.ViewModels.MainPage

@{
    ViewBag.Title = "Randevu Page";
}

<div class="row">
    <div class="col-lg-8">

        <div class="panel panel-default">
            <div class="panel-heading">Randevu Detaylari</div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()

                    <div class="form-group">

                        @Html.LabelFor(x => x.Iller, "Il")
                        @Html.DropDownListFor(m => m.il,
    new SelectList(Model.Iller, "Id", "IlAdi"), "--Seçin--", new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Ilceler, "Ilce")
                        @Html.DropDownListFor(m => m.Ilce,
             new SelectList(Model.Ilceler, "IlID", "IlceAdi"), "--Seçin--", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Hastaneler, "Hastane")
                        @Html.DropDownListFor(m => m.hastane,
             new SelectList(Model.Hastaneler, "Id", "HastaneAdi"), "--Seçin--", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Klinikler, "Klinik")
                        @Html.DropDownListFor(m => m.klinik,
             new SelectList(Model.Klinikler, "Id", "KlinikAdi"), "--Seçin--", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Doktordetay, "User")
                        @Html.DropDownListFor(m => m.doktor,
             new SelectList(Model.Doktordetay, "Id", "DoktorDetay"), "--Seçin--", new { @class = "form-control" })
                    </div>
                    <div class="form-group date" data-date-format="mm/dd/yyyy">
                        @Html.LabelFor(x => x.RandevuTarihi, "Randevu Tarihi")
                        @Html.EditorFor(x => x.RandevuTarihi, new { @class = "form-control" })
                    </div>

                    <input type="" value="Randevu Ara" class="btn btn-primary" />

                    <a href="@Url.Action("index")">ya da Vazgeç</a>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Saatleri</div>
            <div class="panel-body">
                @for (int i = 9; i < 18; i++)
                {
                    <div class="btn-toolbar" style="height:50px">
                        <div class="btn-group">
                            <a href="#" class="btn btn-link btn-group-sm">@i:00</a>
                        </div>

                        <div class="btn-group" style="height:50px">
                            <a href="#" class="btn btn-link btn-group-sm disabled">@i:15</a>
                        </div>

                        <div class="btn-group" style="height:50px">
                            <a href="#" class="btn btn-link btn-group-sm">@i:30</a>
                        </div>

                        <div class="btn-group" style="height:50px">
                            <a href="#" class="btn btn-link btn-group-sm">@i:45</a>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>

        </div>







        @section Sync{
            <script type="text/javascript">

                $(document).ready(function () {
                    $('#ddlIl').change(function () {
                        $.ajax({
                            type: "post",
                            url: "/Users/GetIlce",
                            data: { Id: $('#ddlIl').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                var ilce = "<select id='ddlIlce'>";
                                ilce = ilce + '<option value="">--Seçin--</option>';
                                for (var i = 0; i < data.length; i++) {
                                    ilce = ilce + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                ilce = ilce + '</select>';
                                $('#Ilceler').html(ilce);
                            }
                        });
                    });
                });
            </script>
        }
