@model HastaneRandevu.Areas.Admin.ViewModels.RandevuInfo
@{
    ViewBag.Title = "RandevuGoster";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.DoktorAdi, "Doktor Adi")
        @Html.TextBoxFor(x => x.DoktorAdi, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.HastaAdi)
        @Html.TextBoxFor(x => x.HastaAdi, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.KlinikAdi)
        @Html.TextBoxFor(x => x.KlinikAdi, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Tarihi)
        @Html.TextBoxFor(x => x.Tarihi, new { @class = "form-control" })
    </div>

    <input type="submit" value="Randevu al" class="btn btn-primary" />
    <a href="@Url.Action("index")">ya da Vazgeç</a>
}