@model HastaneRandevu.ViewModels.HastaneNew
@{
    ViewBag.Title = "Register Page";
}
<h1>Yeni Admin ve Hastane</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="panel panel-default">
        <div class="panel-heading">Admin Bilgileri</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(x => x.KimlikNo, "Kimlik No")
                @Html.TextBoxFor(x => x.KimlikNo, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", type = "password" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Telefon)
                @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
            </div>

            @Html.Partial("_CinsiyetEditor", Model.Cinsiyetler)

            <div class="form-group date" data-date-format="mm/dd/yyyy">
                @Html.LabelFor(x => x.DogumTarihi, "Doğum Tarihi")
                @Html.TextBoxFor(x => x.DogumTarihi, new { @class = "form-control datecontrol", @id="DT"})
            </div>
        </div>
    </div>
   
    <div class="panel panel-default">
        <div class="panel-heading">Hastane Bilgileri</div>
        <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Iller, "Il")
                        @Html.DropDownListFor(x => x.Iller, Model.Iller, "--Seçin--", new { @class = "form-control", @id = "ddlIl" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Ilceler, "Ilce")
                      @Html.DropDownListFor(x => x.Ilceler, new List<SelectListItem>(), "--Seçin--", new { @class = "form-control", @id = "ddlIlce" }) 
                    </div>

             <div class="form-group">
                @Html.LabelFor(x => x.HastaneAdi)
                @Html.TextBoxFor(x => x.HastaneAdi, new { @class = "form-control" })
            </div>

                    @*@Html.Partial("_RoleEditor", Model.Roles)*@

                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                    <a href="@Url.Action("Login")">ya da vazgeç</a>

        </div>
    </div>
}



@section Calen{
    <script>
        $('#DT').datepicker({ format: 'mm/dd/yyyy', startDate: '-3d' });
    </script>
}

@section Sync{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#ddlIl').change(function () {
                $.ajax({
                    type: "post",
                    url: "/Users/GetIlce",
                    data: { Id: $('#ddlIl').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var ilce = "<select id='ddlIlce'>";
                        ilce = ilce + '<option value="">--Select--</option>';
                        for (var i = 0; i < data.length; i++) {
                            ilce = ilce + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        district = district + '</select>';
                        $('#Ilceler').html(ilce);
                    }
                });
            });
        });
</script>
    }
