@model HastaneRandevu.Areas.Admin.ViewModels.KlinikList

@{
    ViewBag.Title = "Klinikler";
}

@Html.Partial("_Header1")

<div class="btn-toolbar">
    @Html.Partial("_Header2")
    <div class="btn-group pull-right">
        @if (Model.Klinikler.HasPreviousPage)
        {
            <a href="@Url.Action("index",new { page=Model.Klinikler.PreviousPage})" class="btn btn-primary btn-sm">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Önceki Sayfa
            </a>
        }
        else
        {
            <a href="#" class="btn btn-default disabled btn-sm">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Önceki Sayfa
            </a>
        }
        @if (Model.Klinikler.HasNextPage)
        {
            <a href="@Url.Action("index",new { page=Model.Klinikler.NextPage})" class="btn btn-primary btn-sm">

                Sonraki Sayfa <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
        else
        {
            <a href="#" class="btn btn-default disabled btn-sm">

                Sonraki Sayfa <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Klinik Adı</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var klinik in Model.Klinikler)
            {
                <tr>
                    <td>@klinik.Id</td>
                    <td>@klinik.KlinikAdi</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("KlinikDuzenle",new {klinik.Id })" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>Düzenle</a>
                            <a href="@Url.Action("KlinikSil",new {klinik.Id })" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-erase"></i>Sil</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

