@model HastaneRandevu.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login Page";
}

<h2>Giriş</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="editor-label">
        @Html.LabelFor(x => x.KimlikNo, "Kimlik No" )
        @Html.EditorFor(x => x.KimlikNo )
    </div>
    <div class="editor-label">
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    <div>
        <input type="submit" value="Giriş" style="margin-left:70px" class="btn btn-primary"/>

        <div class="btn btn-link btn-sm" style="margin-left:15px"><i class="glyphicon glyphicon-plus" ></i>
            @Html.RouteLink(" Üye Ol","YeniUye")
        </div>
    </div>
}

